.board {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 10px #666;
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    position: relative;
    border: 1px solid #eee;
}

.cell.black {
    background: #000;
}

.cell.white {
    background: #fff;
}

.piece {
    font-size: 40pt;
    width: 88%;
    text-align: center;
}

.box .piece {
    margin: 4px 20px;
}

.white-white {
    color: #000;
}

.white-black {
    color: #000;
}

.black-white {
    color: #fff;
}

.black-black {
    color: #fff;
}

.board .piece:hover {
    cursor: pointer;
    color: yellowgreen;
}

.board .piece.selected {
    border: 1px solid yellowgreen;
}

.cell-for-move {
    cursor: pointer;
}

.for-move {
    width: 16px;
    height: 16px;
    background: #ccc;
    border-radius: 50%;
}
